:root {
  --sidebarOpenWidth: 80vw;
  --sidebarClosedWidth:4rem;
  --bgColor:#202020;
  --drawerMoveTime: 0.5s;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--bgColor);
  height: 100%;
}

#drawer-toggle {
  position: absolute;
  z-index: -10;
  opacity:0;
}

#drawer-toggle-label{
  height:10rem;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:100%;
}

#drawer {
  position: fixed;
  top: 0;
  left:calc((var(--sidebarOpenWidth) - var(--sidebarClosedWidth)) * -1);
  height: 100%;
  width:var(--sidebarOpenWidth);
  display:grid;
  grid-template-columns: 1fr var(--sidebarClosedWidth);
  overflow: hidden;
}

#drawer svg{
  stroke-width:0.5rem;
  margin: 0;
  stroke:var(--bgColor);
  height:2rem;
  transform: scaleX(-1);
  transition: 0.25s ease-in-out;

}

#drawer #peekingSection{
  background-color: #dddddd;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#drawer #hiddenSection{
  background-color: #f0f0f0;
  height:100vh;
}

/* actual page content pane */

#page-content {
  position: fixed;
  top:0;
  left: var(--sidebarClosedWidth);
  overflow: hidden;
  width: calc(100vh - var(--sidebarClosedWidth));
  height: 100vh;
  padding: 20px;
  transition: var(--drawerMoveTime) ease-in-out;
}

div.hasDrawerAnimation, div.hasDrawerAnimation > * {
  transition: var(--drawerMoveTime) ease-in-out;
}


#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer-toggle:checked ~ #drawer svg{
  transform: scaleX(1);
}

#drawer-toggle:checked ~ #page-content {
  left: var(--sidebarOpenWidth);
}
