:root {
  --sidebarOpenWidth: 80vw;
  --sidebarClosedWidth:6rem;
  --bgColor:#202020;
  --drawerMoveTime: 0.30s;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--bgColor);
  height: 100%;
}

#drawer-toggle {
  position: absolute;
  z-index: -10;
  opacity:0;
}

#drawer-toggle-label{
  height:10rem;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width:100%;
}

#drawer {
  position: fixed;
  top: 0;
  left:calc((var(--sidebarOpenWidth) - var(--sidebarClosedWidth)) * -1);
  height: 100%;
  width:var(--sidebarOpenWidth);
  display:grid;
  grid-template-columns: 1fr var(--sidebarClosedWidth);
  overflow: hidden;
}

#drawer svg{
  stroke-width:0.5rem;
  margin: 0;
  stroke:var(--bgColor);
  height:2rem;
  transform: scaleX(-1);
  transition: transform 0.3s;
}
#lessonProgress{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

#lineCenterFlex{
  display: flex;
  justify-content: center;
}

#lessonProgressLine svg{
  align-content: center;
  stroke-width:1rem;
  stroke:#44b6e7;
  height:90vh;
}

#lessonProgress p{
  text-align: center;
  font-family: sans-serif;
}



#drawer #peekingSection{
  background-color: #f0f0f0;
  height:100vh;
  display:grid;
  grid-template-columns: 4fr 1fr;
}
#drawer #peekingSection #toggleSection{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}
/* #drawer #peekingSection #lessonProgress{
  height:100vh;
  display:grid;
  grid-template-rows: 90fr 10fr;
  background-color: #ddd;
} */
#drawer #hiddenSection{
  background-color: #f0f0f0;
  height:100vh;
}

/* actual page content pane */

#page-content {
  position: fixed;
  top:0;
  left: var(--sidebarClosedWidth);
  overflow: hidden;
  width: calc(100vw - var(--sidebarClosedWidth));
  height: 100vh;
  padding: 20px;
  transition: var(--drawerMoveTime) ease-out;
  transition-property: width, left;
}

div.hasDrawerAnimation, div.hasDrawerAnimation > * {
  transition: var(--drawerMoveTime) ease-out;
  transition-property: width, left;
}


#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer-toggle:checked ~ #drawer svg{
  transform: scaleX(1);
}

#drawer-toggle:checked ~ #page-content {
  left: var(--sidebarOpenWidth);
}
